@import "variables";

.welcome-block {
  display: grid;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 20px;
  background: #f5b7b7;
  display: grid;
  grid-template-rows: 50px 400px 100px;
}
.header {
  display: grid;
  grid-template-columns: 100px 100px;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}
.main {
  border: 1px solid red;
  display: grid;
  grid-template-columns: 200px 1fr;

  &__nicknames {
    border: 2px solid black;
  }
}
.footer {
  border: 1px solid blue;
  display: grid;
  justify-content: center;
  align-items: center;
}